In [ ]:
#Warm up
# Write a script which inserts storms.csv into a table in mysql.  Only add the following fields:
# name,type,year, category,area,start_date,end_date,duration
#pay close attention to the types - datetime, int etc.
# Review - howto get fieldnames, load to list of dictionaries, iteration, mysql types,transformations.

import csv

with open('data/storms.csv') as f:
    data = [{k: str(v) for k, v in row.items()}
        for row in csv.DictReader(f, skipinitialspace=True)]

In [4]:
# Reading form SQL.
#Data returned from your query is stored in the the cursor.
#This cursor can be used in a for loop to yeild dictionaries (called row below)
sql = '''SELECT * FROM `conlontj_test`;'''
cur.execute(sql)
for row in cur:
    print(row['device'],row['msg'])

device_1 system start
device_1 init

In [ ]:
#Normalization

id | device | msg
-- | ---- | -------
1 | device_1 | system start
2 | device_1 | init
3 | device_2 | system start
4 | device_3 | init
5 | device_2 | load

In [5]:
sql = '''INSERT INTO `conlontj_test` (`device`, `msg`) VALUES (%s, %s);'''
cur.execute(sql,('device_1','system start'))
cur.execute(sql,('device_1','init'))
cur.execute(sql,('device_2','system start'))
cur.execute(sql,('device_3','init'))
cur.execute(sql,('device_2','load'))

1

In [4]:
import pymysql
import mysecrets

conn = pymysql.connect(host=mysecrets.host, port=3306, user=mysecrets.user,
                       passwd=mysecrets.passwd, db='is426', autocommit=True)

cur = conn.cursor(pymysql.cursors.DictCursor)

sql = '''DROP TABLE IF EXISTS `conlontj_test`;'''
cur.execute(sql)


sql = '''
CREATE TABLE IF NOT EXISTS `conlontj_test` (
  `id` int(5) NOT NULL AUTO_INCREMENT,
  `device` varchar(10) NOT NULL,
  `msg` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;
'''
cur.execute(sql)

0

In [7]:
# Normalizing table data on insert
# Discuss cur.lastrowid

import pymysql
import mysecrets

conn = pymysql.connect(host=mysecrets.host, port=3306, user=mysecrets.user,
                       passwd=mysecrets.passwd, db='is426', autocommit=True)

cur = conn.cursor(pymysql.cursors.DictCursor)

sql = '''DROP TABLE IF EXISTS `conlontj_msgs`;'''
cur.execute(sql)
sql = '''
CREATE TABLE IF NOT EXISTS `conlontj_msgs` (
  `id` int(5) NOT NULL AUTO_INCREMENT,
  `device` varchar(10) NOT NULL,
  `msg` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;
'''
cur.execute(sql)

sql = '''DROP TABLE IF EXISTS `conlontj_devices`;'''
cur.execute(sql)
sql = '''
CREATE TABLE IF NOT EXISTS `conlontj_devices` (
  `id` int(5) NOT NULL AUTO_INCREMENT,
  `name` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;
'''
cur.execute(sql)

0

In [10]:
sql = '''INSERT INTO `conlontj_devices` (`name`) VALUES (%s);'''
cur.execute(sql,('device_1'))
print(cur.lastrowid)

3

In [ ]:
# write a script in python which used SQL to show the count of storms by region.

In [ ]:
# write a script in python which used SQL to show the storms which lasted the longest (duration)

To know:
* Be able to create, read, update and delete data from a mysql table in Python
* Understand the role of the cursor and connection
* Iterate over returned data in cursor
* INSERT data from a simple csv into a table in mysql
* Difference between a backtick and a single quote
* Show the autoincrement id after a transaction 
* Be able to send multiple insert statements at once with executemany

What can go wrong:
* SQL syntax errors
* Connection errors
* Issues with fieldnames if you don't use backticks