In [3]:
# We can work with data in memory using the Pandas module. The convention is to import it
#  with the name 'pd'
import pandas as pd


df  = pd.read_csv("data/wifi_list.csv")
df.head(3)

#notice pandas creates an extra col. with no label - 
# #   This is the 'index' it is the main way we reference rows

,MAC,SSID,AuthMode,FirstSeen,Channel,RSSI,CurrentLatitude,CurrentLongitude,AltitudeMeters,AccuracyMeters,Type
0,e0:91:f5:de:fa:4f,NETGEAR-5G,[WPS][ESS],5/9/2012 2:02,36,-67,44.670237,-74.983637,104.199997,7,WIFI
1,e2:91:f5:de:fa:51,bonesaw_Guest,[WPA-PSK-TKIP+CCMP][WPA2-PSK-TKIP+CCMP][ESS],5/9/2012 2:02,11,-62,44.670237,-74.983637,104.199997,7,WIFI
2,e0:91:f5:de:fa:50,BONESAW_HQ,[WPA-PSK-TKIP+CCMP][WPA2-PSK-TKIP+CCMP][WPS][ESS],5/9/2012 2:02,11,-62,44.670237,-74.983637,104.199997,7,WIFI

In [4]:
# We can also create dataframes from lists of dictionaries

homes  = [{'Rooms':8,'Bathroom':5,'Landsize':300,'Lattitude':-37.8079,'Longtitude':144.9934},
    {'Rooms':8,'Bathroom':5,'Landsize':300,'Lattitude':-36,'Longtitude':143}]

homes_df = pd.DataFrame(homes)
homes_df.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      8         5       300   -37.8079    144.9934
1      8         5       300   -36.0000    143.0000

In [31]:
# Although you can iterate over rows in a dataframe normally chaining method calls is better:
df_result = df[['MAC','Channel','FirstSeen']].copy()
df_result = df_result[df_result['Channel'].isin([6,11])] 
df_result

                    MAC  Channel       FirstSeen
1     e2:91:f5:de:fa:51       11   5/9/2012 2:02
2     e0:91:f5:de:fa:50       11   5/9/2012 2:02
3     e0:91:f5:5e:34:60        6   5/9/2012 2:02
5     00:08:9f:7b:06:d1       11   5/9/2012 2:02
6     00:23:69:c1:a9:ef        6   5/9/2012 2:02
...                 ...      ...             ...
4474  08:86:3b:21:47:8f       11  6/7/2012 18:55
4475  68:7f:74:f5:61:2d        6  6/7/2012 18:55
4479  e0:91:f5:de:fa:50       11  6/7/2012 18:55
4480  30:46:9a:99:9b:da        6  6/7/2012 18:55
4481  00:1e:e5:ec:5b:97        6  6/7/2012 18:57

[2507 rows x 3 columns]

In [31]:
#  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
df.loc[7]

MAC                 310410_11506_144930464
SSID                                  AT&T
AuthMode                           UMTS;us
FirstSeen                    5/9/2012 2:02
Channel                                  0
RSSI                                   -97
CurrentLatitude                  44.670237
CurrentLongitude                -74.983637
AltitudeMeters                  104.199997
AccuracyMeters                           7
Type                                   GSM
Name: 7, dtype: object

In [17]:
# create new df with Authmode column removed:
df2 = df.drop('AuthMode',axis=1)
df2.head(2)

,MAC,SSID,FirstSeen,Channel,RSSI,CurrentLatitude,CurrentLongitude,AltitudeMeters,AccuracyMeters,Type
0,e0:91:f5:de:fa:4f,NETGEAR-5G,5/9/2012 2:02,36,-67,44.670237,-74.983637,104.199997,7,WIFI
1,e2:91:f5:de:fa:51,bonesaw_Guest,5/9/2012 2:02,11,-62,44.670237,-74.983637,104.199997,7,WIFI

In [16]:
# add a new col as a datetime type
df2['dt'] = pd.to_datetime(df2['FirstSeen'])
print(df2['dt'])

0      2012-05-09 02:02:00
1      2012-05-09 02:02:00
2      2012-05-09 02:02:00
3      2012-05-09 02:02:00
4      2012-05-09 02:02:00
               ...
4479   2012-06-07 18:55:00
4480   2012-06-07 18:55:00
4481   2012-06-07 18:57:00
4482   2012-06-07 18:59:00
4483   2012-06-07 18:59:00
Name: dt, Length: 4484, dtype: datetime64[ns]

In [6]:
#get unique counts of values
df['Channel'].value_counts()

6      1544
1       999
11      963
0       301
2       151
9        83
3        72
10       68
149      58
8        51
7        44
5        42
4        40
36       27
44       16
52        9
48        4
153       4
60        4
161       2
40        1
157       1
Name: Channel, dtype: int64

In [26]:
# using apply to apply some function to each row

def filter_signal(row):
    if row['RSSI'] > -70:
        return 'best'
    elif row['RSSI'] > -80:
        return 'good'
    else:
        return 'poor'
# create a new column with the result from our apply function
# axis 1 is rows
df2['signal_text'] = df2.apply(filter_signal,axis=1)
df2.loc[:,['signal_text','RSSI']].head(10)

  signal_text  RSSI
0        best   -67
1        best   -62
2        best   -62
3        best   -61
4        poor   -85
5        good   -79
6        poor   -87
7        poor   -97
8        poor   -88
9        poor  -101